html, body {
	height: 100vh;
	background-color: rgb(1, 134, 177);
}

#scene_container {
	height: 475px;
	width: 100%;
}

#noflash {
	display: none;
	padding: 0;
	margin: 0;
	left: 0;
	right: 0;
}

#noflashimg {
	display: block;
	position: absolute;
	top: 9.94rem;
	width: 100%;
	height: auto;
}